$accent-color: #365A72;
$primary-color: #FFFFFF;
$secondary-color: #1a2a3a;
$text-color: #4A5568;
$light-gray: #F7FAFC;
$dark-gray: #E2E8F0;
$transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

$font-main: 'Montserrat', sans-serif;
$font-heading: 'Playfair Display', serif;
